In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
import re
warnings.filterwarnings('ignore')

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### 1. 疫情数据基本统计

#### 1.1 国内各城市新增与累计的确诊、治愈、死亡人数

In [41]:
# 读取数据
city_epidemic_data = pd.read_excel("../data/附件1.xlsx", sheet_name='城市疫情')

# 获得各个城市每一天的情况
pivot_city_epidemic_data = city_epidemic_data.pivot_table(
    index=['城市', '日期'],
    values=['新增确诊', '新增治愈', '新增死亡'],
    aggfunc={'新增确诊': np.max, '新增治愈': np.max, '新增死亡': np.max}
).reset_index()
pivot_city_epidemic_data.head()

    城市         日期  新增死亡  新增治愈  新增确诊
0  七台河 2020-01-26     0     0     1
1  七台河 2020-01-27     0     0     1
2  七台河 2020-01-30     0     0     1
3  七台河 2020-01-31     0     0     2
4  七台河 2020-02-01     0     0     1

In [42]:
# 处理单个城市：武汉
tabel_c = pivot_city_epidemic_data[pivot_city_epidemic_data['城市'] == '武汉']
print(tabel_c['日期'].iloc[0]) # 该城市疫情开始时间
start_day = tabel_c['日期'].iloc[0]
end_day = pd.to_datetime('2020/6/30') # 时间截至6月30日
tmp = pd.DataFrame()
while True:
    if end_day < start_day:
        break
    tmp_df = pd.DataFrame( 
        {"城市": ['武汉'], '日期': [start_day], '新增死亡': [0], '新增治愈': [0], '新增确诊': [0]}
    ) 
    tmp = tmp.append(tmp_df, ignore_index = True)
    start_day += pd.Timedelta(days=1)
tabel_c.head()

2020-01-10 00:00:00

      城市         日期  新增死亡  新增治愈  新增确诊
5387  武汉 2020-01-10     1     2    41
5388  武汉 2020-01-11     0     4     0
5389  武汉 2020-01-12     0     1     0
5390  武汉 2020-01-15     1     5     0
5391  武汉 2020-01-16     0     3     4

In [44]:
pd.DataFrame( 
        {"城市": ['武汉'], '日期': [start_day], '新增死亡': [0], '新增治愈': [0], '新增确诊': [0]}
    )

   城市         日期  新增死亡  新增治愈  新增确诊
0  武汉 2020-07-01     0     0     0