In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
import re
warnings.filterwarnings('ignore')

In [3]:
cumulative_data = pd.read_csv("../results/result1/task1_1.csv", encoding='gbk')
# new_add_data = pd.read_csv("./task1.1-temp.csv", encoding='gbk')

print(cumulative_data.head())
# print(new_add_data.head())

   城市         日期  累积确诊人数  累积治愈人数  累积死亡人数
0  衢州  2020/1/22       1       0       0
1  衢州  2020/1/23       2       0       0
2  衢州  2020/1/24       2       0       0
3  衢州  2020/1/25       3       0       0
4  衢州  2020/1/26       5       0       0

In [4]:
cumulative_data.head()

   城市         日期  累积确诊人数  累积治愈人数  累积死亡人数
0  衢州  2020/1/22       1       0       0
1  衢州  2020/1/23       2       0       0
2  衢州  2020/1/24       2       0       0
3  衢州  2020/1/25       3       0       0
4  衢州  2020/1/26       5       0       0

In [13]:
city_data = pd.merge(new_add_data, cumulative_data, how='left')
city_data

       城市         日期  新增死亡  新增治愈  新增确诊  累积死亡  累积治愈  累积确诊
0      蚌埠  2020/1/23     0     0     1     0     0     1
1      蚌埠  2020/1/24     0     0     0     0     0     1
2      蚌埠  2020/1/25     0     0     0     0     0     1
3      蚌埠  2020/1/26     0     0     2     0     0     3
4      蚌埠  2020/1/27     0     0     0     0     0     3
...    ..        ...   ...   ...   ...   ...   ...   ...
68573  茂名  2020/6/26     0     0     0     0    14    14
68574  茂名  2020/6/27     0     0     0     0    14    14
68575  茂名  2020/6/28     0     0     0     0    14    14
68576  茂名  2020/6/29     0     0     0     0    14    14
68577  茂名  2020/6/30     0     0     0     0    14    14

[68578 rows x 8 columns]

In [5]:
city_provinces_data = pd.read_excel("../data/附件1.xlsx", sheet_name='城市省份对照表')
city_provinces_data.head()

        城市  省份
0      阿坝州  四川
1      阿克苏  新疆
2  安徽-境外输入  安徽
3       安康  陕西
4       安庆  安徽

In [6]:
city_provinces_dict = {}
for i in range(len(city_provinces_data)):
    city_provinces_dict[city_provinces_data['城市'][i]] = city_provinces_data['省份'][i]
city_provinces_dict

{'阿坝州': '四川',
 '阿克苏': '新疆',
 '安徽-境外输入': '安徽',
 '安康': '陕西',
 '安庆': '安徽',
 '安顺': '贵州',
 '安阳': '河南',
 '鞍山': '辽宁',
 '澳门': '澳门',
 '巴南区': '重庆',
 '巴彦淖尔': '内蒙古',
 '巴中': '四川',
 '巴州': '新疆',
 '白城': '吉林',
 '白沙': '海南',
 '白山': '吉林',
 '白银': '甘肃',
 '百色': '广西',
 '蚌埠': '安徽',
 '包头': '内蒙古',
 '宝坻区': '天津',
 '宝鸡': '陕西',
 '宝山区': '上海',
 '保定': '河北',
 '保山': '云南',
 '保亭': '海南',
 '北碚区': '重庆',
 '北辰区': '天津',
 '北海': '广西',
 '北京-待明确': '北京',
 '北京-境外输入': '北京',
 '本溪': '辽宁',
 '毕节': '贵州',
 '璧山区': '重庆',
 '滨海新区': '天津',
 '滨州': '山东',
 '兵团第八师': '新疆',
 '兵团第二师': '新疆',
 '兵团第九师': '新疆',
 '兵团第六师': '新疆',
 '兵团第七师': '新疆',
 '兵团第三师': '新疆',
 '兵团第十二师': '新疆',
 '兵团第十三师': '新疆',
 '兵团第十师': '新疆',
 '兵团第十四师': '新疆',
 '兵团第十一师': '新疆',
 '兵团第四师': '新疆',
 '兵团第五师': '新疆',
 '兵团第一师': '新疆',
 '亳州': '安徽',
 '沧州': '河北',
 '昌吉州': '新疆',
 '昌江': '海南',
 '昌平区': '北京',
 '常德': '湖南',
 '常州': '江苏',
 '朝阳区': '北京',
 '朝阳市': '辽宁',
 '潮州': '广东',
 '郴州': '湖南',
 '成都': '四川',
 '承德': '河北',
 '城口县': '重庆',
 '澄迈': '海南',
 '池州': '安徽',
 '赤峰': '内蒙古',
 '崇明区': '上海',
 '崇左': '广西',
 '滁州': '安徽',
 '楚雄': '云南',
 '达州': '四川',
 '大渡口区': '重庆',
 '大理': '云南',
 '大连': '辽宁',
 '大庆': '黑龙江',
 '大同': '山西',
 '大兴安岭': '黑龙江',
 '大兴区': '北京',
 '大足区': '重庆',
 '丹东': '辽宁',
 '儋州': '海南',
 '德宏州': '云南',
 '德阳': '四川',
 '德州': '山东',
 '垫江县': '重庆',
 '定安': '海南',
 '定西': '甘肃',
 '东城区': '北京',
 '东方': '海南',
 '东莞': '广东',
 '东丽区': '天津',
 '东营': '山东',
 '鄂尔多斯': '内蒙古',
 '鄂州': '湖北',
 '恩施州': '湖北',
 '防城港': '广西',
 '房山区': '北京',
 '丰都县': '重庆',
 '丰台区': '北京',
 '奉节县': '重庆',
 '奉贤区': '上海',
 '佛山': '广东',
 '涪陵区': '重庆',
 '福建-境外输入': '福建',
 '福州': '福建',
 '抚顺': '辽宁',
 '抚州': '江西',
 '阜新': '辽宁',
 '阜阳': '安徽',
 '甘南': '甘肃',
 '甘肃-境外输入': '甘肃',
 '甘孜': '四川',
 '赣江新区': '江西',
 '赣州': '江西',
 '高新区': '重庆',
 '固原': '宁夏',
 '广安': '四川',
 '广东-境外输入': '广东',
 '广西-境外输入': '广西',
 '广元': '四川',
 '广州': '广东',
 '贵港': '广西',
 '贵阳': '贵州',
 '桂林': '广西',
 '果洛州': '青海',
 '哈尔滨': '黑龙江',
 '海北州': '青海',
 '海淀区': '北京',
 '海东': '青海',
 '海口': '海南',
 '海南州': '青海',
 '海西州': '青海',
 '邯郸': '河北',
 '汉中': '陕西',
 '杭州': '浙江',
 '合川区': '重庆',
 '合肥': '安徽',
 '和平区': '天津',
 '河北-境外输入': '河北',
 '河北区': '天津',
 '河池': '广西',
 '河东区': '天津',
 '河南-境外输入': '河南',
 '河西区': '天津',
 '河源': '广东',
 '菏泽': '山东',
 '贺州': '广西',
 '鹤壁': '河南',
 '鹤岗': '黑龙江',
 '黑河': '黑龙江',
 '黑龙江-境外输入': '黑龙江',
 '衡水': '河北',
 '衡阳': '湖南',
 '红河': '云南',
 '红桥区': '天津',
 '虹口区': '上海',
 '呼和浩特': '内蒙古',
 '呼伦贝尔': '内蒙古',
 '葫芦岛': '辽宁',
 '湖北-监狱系统': '湖北',
 '湖北来桂': '广西',
 '湖南-境外输入': '湖南',
 '湖州': '浙江',
 '怀化': '湖南',
 '怀柔区': '北京',
 '淮安': '江苏',
 '淮北': '安徽',
 '淮南': '安徽',
 '黄冈': '湖北',
 '黄南州': '青海',
 '黄浦区': '上海',
 '黄山': '安徽',
 '黄石': '湖北',
 '惠州': '广东',
 '鸡西': '黑龙江',
 '吉安': '江西',
 '吉林': '吉林',
 '吉林-境外输入': '吉林',
 '济南': '山东',
 '济宁': '山东',
 '济源': '河南',
 '佳木斯': '黑龙江',
 '嘉定区': '上海',
 '嘉兴': '浙江',
 '嘉峪关': '甘肃',
 '江北区': '重庆',
 '江津区': '重庆',
 '江门': '广东',
 '江苏-境外输入': '江苏',
 '江西-境外输入': '江西',
 '焦作': '河南',
 '揭阳': '广东',
 '金昌': '甘肃',
 '金华': '浙江',
 '金山区': '上海',
 '津南区': '天津',
 '锦州': '辽宁',
 '晋城': '山西',
 '晋中': '山西',
 '荆门': '湖北',
 '荆州': '湖北',
 '景德镇': '江西',
 '静安区': '上海',
 '九江': '江西',
 '九龙坡区': '重庆',
 '酒泉': '甘肃',
 '开封': '河南',
 '开州区': '重庆',
 '昆明': '云南',
 '拉萨': '西藏',
 '来宾': '广西',
 '兰州': '甘肃',
 '廊坊': '河北',
 '乐东': '海南',
 '乐山': '四川',
 '丽江': '云南',
 '丽水': '浙江',
 '连云港': '江苏',
 '凉山': '四川',
 '梁平区': '重庆',
 '两江新区': '重庆',
 '辽宁-境外输入': '辽宁',
 '辽阳': '辽宁',
 '辽源': '吉林',
 '聊城': '山东',
 '临沧': '云南',
 '临汾': '山西',
 '临高': '海南',
 '临夏': '甘肃',
 '临沂': '山东',
 '陵水': '海南',
 '柳州': '广西',
 '六安': '安徽',
 '六盘水': '贵州',
 '龙岩': '福建',
 '陇南': '甘肃',
 '娄底': '湖南',
 '泸州': '四川',
 '洛阳': '河南',
 '漯河': '河南',
 '吕梁': '山西',
 '马鞍山': '安徽',
 '茂名': '广东',
 '眉山': '四川',
 '梅州': '广东',
 '门头沟区': '北京',
 '密云区': '北京',
 '绵阳': '四川',
 '闵行区': '上海',
 '牡丹江': '黑龙江',
 '南岸区': '重庆',
 '南昌': '江西',
 '南充': '四川',
 '南川区': '重庆',
 '南京': '江苏',
 '南开区': '天津',
 '南宁': '广西',
 '南平': '福建',
 '南通': '江苏',
 '南阳': '河南',
 '内江': '四川',
 '内蒙古-境外输入': '内蒙古',
 '宁波': '浙江',
 '宁德': '福建',
 '宁东': '宁夏',
 '宁河区': '天津',
 '宁夏-境外输入': '宁夏',
 '攀枝花': '四川',
 '盘锦': '辽宁',
 '彭水县': '重庆',
 '平顶山': '河南',
 '平谷区': '北京',
 '平凉': '甘肃',
 '平潭': '福建',
 '萍乡': '江西',
 '莆田': '福建',
 '濮阳': '河南',
 '浦东新区': '上海',
 '普洱': '云南',
 '普陀区': '上海',
 '七台河': '黑龙江',
 '齐齐哈尔': '黑龙江',
 '綦江区': '重庆',
 '潜江': '湖北',
 '黔东南州': '贵州',
 '黔江区': '重庆',
 '黔南州': '贵州',
 '黔西南州': '贵州',
 '钦州': '广西',
 '秦皇岛': '河北',
 '青岛': '山东',
 '青浦区': '上海',
 '清远': '广东',
 '庆阳': '甘肃',
 '琼海': '海南',
 '琼中': '海南',
 '衢州': '浙江',
 '曲靖': '云南',
 '泉州': '福建',
 '日照': '山东',
 '荣昌区': '重庆',
 '三门峡': '河南',
 '三明': '福建',
 '三沙': '海南',
 '三亚': '海南',
 '沙坪坝区': '重庆',
 '厦门': '福建',
 '山东-境外输入': '山东',
 '山东-任城监狱': '山东',
 '山东-外省输入': '山东',
 '山西-境外输入': '山西',
 '陕西-境外输入': '陕西',
 '汕头': '广东',
 '汕尾': '广东',
 '商洛': '陕西',
 '商丘': '河南',
 '上海-境外输入': '上海',
 '上饶': '江西',
 '韶关': '广东',
 '邵阳': '湖南',
 '绍兴': '浙江',
 '深圳': '广东',
 '神农架': '湖北',
 '沈阳': '辽宁',
 '十堰': '湖北',
 '石家庄': '河北',
 '石景山区': '北京',
 '石柱县': '重庆',
 '石嘴山': '宁夏',
 '双鸭山': '黑龙江',
 '顺义区': '北京',
 '朔州': '山西',
 '四川-境外输入': '四川',
 '四平': '吉林',
 '松江区': '上海',
 '松原': '吉林',
 '苏州': '江苏',
 '绥化': '黑龙江',
 '随州': '湖北',
 '遂宁': '四川',
 '台湾': '台湾',
 '台州': '浙江',
 '太原': '山西',
 '泰安': '山东',
 '泰州': '江苏',
 '唐山': '河北',
 '天津-境外输入': '天津',
 '天门': '湖北',
 '天水': '甘肃',
 '铁岭': '辽宁',
 '通化': '吉林',
 '通辽': '内蒙古',
 '通州区': '北京',
 '铜川': '陕西',
 '铜梁区': '重庆',
 '铜陵': '安徽',
 '铜仁': '贵州',
 '潼南区': '重庆',
 '吐鲁番': '新疆',
 '屯昌': '海南',
 '外地来桂': '广西',
 '外地来沪': '上海',
 '外地来津': '天津',
 '外地来京': '北京',
 '万宁': '海南',
 '万盛经开区': '重庆',
 '万州区': '重庆',
 '威海': '山东',
 '潍坊': '山东',
 '渭南': '陕西',
 '温州': '浙江',
 '文昌': '海南',
 '文山': '云南',
 '乌海': '内蒙古',
 '乌兰察布': '内蒙古',
 '乌鲁木齐': '新疆',
 '巫山县': '重庆',
 '巫溪县': '重庆',
 '无锡': '江苏',
 '芜湖': '安徽',
 '吴忠': '宁夏',
 '梧州': '广西',
 '五指山': '海南',
 '武汉': '湖北',
 '武隆区': '重庆',
 '武清区': '天津',
 '武威': '甘肃',
 '西安': '陕西',
 '西城区': '北京',
 '西宁': '青海',
 '西青区': '天津',
 '西双版纳': '云南',
 '锡林郭勒': '内蒙古',
 '仙桃': '湖北',
 '咸宁': '湖北',
 '咸阳': '陕西',
 '香港': '香港',
 '湘潭': '湖南',
 '湘西': '湖南',
 '襄阳': '湖北',
 '孝感': '湖北',
 '忻州': '山西',
 '新乡': '河南',
 '新余': '江西',
 '信阳': '河南',
 '邢台': '河北',
 '兴安盟': '内蒙古',
 '宿迁': '江苏',
 '宿松': '安徽',
 '宿州': '安徽',
 '秀山县': '重庆',
 '徐汇区': '上海',
 '徐州': '江苏',
 '许昌': '河南',
 '宣城': '安徽',
 '雅安': '四川',
 '烟台': '山东',
 '延安': '陕西',
 '延边': '吉林',
 '延庆区': '北京',
 '盐城': '江苏',
 '扬州': '江苏',
 '阳江': '广东',
 '阳泉': '山西',
 '杨浦区': '上海',
 '伊春': '黑龙江',
 '伊犁州': '新疆',
 '宜宾': '四川',
 '宜昌': '湖北',
 '宜春': '江西',
 '益阳': '湖南',
 '银川': '宁夏',
 '鹰潭': '江西',
 '营口': '辽宁',
 '永川区': '重庆',
 '永州': '湖南',
 '酉阳县': '重庆',
 '渝北区': '重庆',
 '渝中区': '重庆',
 '榆林': '陕西',
 '玉林': '广西',
 '玉树州': '青海',
 '玉溪': '云南',
 '岳阳': '湖南',
 '云南-境外输入': '云南',
 '云阳县': '重庆',
 '运城': '山西',
 '枣庄': '山东',
 '湛江': '广东',
 '张家界': '湖南',
 '张家口': '河北',
 '张掖': '甘肃',
 '漳州': '福建',
 '长春': '吉林',
 '长宁区': '上海',
 '长沙': '湖南',
 '长寿区': '重庆',
 '长治': '山西',
 '昭通': '云南',
 '肇庆': '广东',
 '浙江-境外输入': '浙江',
 '浙江-省十里丰监狱': '浙江',
 '镇江': '江苏',
 '郑州': '河南',
 '中山': '广东',
 '中卫': '宁夏',
 '忠县': '重庆',
 '重庆-境外输入': '重庆',
 '重庆-外地输入': '重庆',
 '舟山': '浙江',
 '周口': '河南',
 '珠海': '广东',
 '株洲': '湖南',
 '驻马店': '河南',
 '资阳': '四川',
 '淄博': '山东',
 '自贡': '四川',
 '遵义': '贵州'}

In [17]:
for i in range(len(city_data)):
    city_data['城市'][i] = city_provinces_dict[city_data['城市'][i]]
city_data

       城市         日期  新增死亡  新增治愈  新增确诊  累积死亡  累积治愈  累积确诊
0      安徽  2020/1/23     0     0     1     0     0     1
1      安徽  2020/1/24     0     0     0     0     0     1
2      安徽  2020/1/25     0     0     0     0     0     1
3      安徽  2020/1/26     0     0     2     0     0     3
4      安徽  2020/1/27     0     0     0     0     0     3
...    ..        ...   ...   ...   ...   ...   ...   ...
68573  广东  2020/6/26     0     0     0     0    14    14
68574  广东  2020/6/27     0     0     0     0    14    14
68575  广东  2020/6/28     0     0     0     0    14    14
68576  广东  2020/6/29     0     0     0     0    14    14
68577  广东  2020/6/30     0     0     0     0    14    14

[68578 rows x 8 columns]

In [18]:
city_data.groupby('日期')['新增死亡'].sum()

日期
2020/1/10    1
2020/1/11    0
2020/1/12    0
2020/1/13    0
2020/1/14    0
            ..
2020/6/5     0
2020/6/6     0
2020/6/7     0
2020/6/8     0
2020/6/9     0
Name: 新增死亡, Length: 173, dtype: int64

In [21]:
table = pd.pivot_table(city_data, values=['新增死亡', '新增治愈', '新增确诊', '累积死亡', '累积治愈', '累积确诊'], 
                      index=['城市', '日期'], 
                      aggfunc={'新增死亡': np.sum, 
                               '新增治愈': np.sum, 
                               '新增确诊': np.sum,
                               '累积死亡': np.sum,
                               '累积治愈': np.sum,
                               '累积确诊': np.sum,})
table

               新增死亡  新增治愈  新增确诊  累积死亡  累积治愈  累积确诊
城市  日期
上海  2020/1/20     0     0     1     0     0     1
    2020/1/21     0     0     0     0     0     1
    2020/1/22     0     0     0     0     0     1
    2020/1/23     0     0     0     0     0     1
    2020/1/24     0     1     0     0     1     1
...             ...   ...   ...   ...   ...   ...
黑龙江 2020/6/5      0     0     0    13   932   945
    2020/6/6      0     0     0    13   932   945
    2020/6/7      0     0     0    13   932   945
    2020/6/8      0     0     0    13   932   945
    2020/6/9      0     0     0    13   932   945

[5495 rows x 6 columns]

In [22]:
final_data = table.reset_index()
final_data

       城市         日期  新增死亡  新增治愈  新增确诊  累积死亡  累积治愈  累积确诊
0      上海  2020/1/20     0     0     1     0     0     1
1      上海  2020/1/21     0     0     0     0     0     1
2      上海  2020/1/22     0     0     0     0     0     1
3      上海  2020/1/23     0     0     0     0     0     1
4      上海  2020/1/24     0     1     0     0     1     1
...   ...        ...   ...   ...   ...   ...   ...   ...
5490  黑龙江   2020/6/5     0     0     0    13   932   945
5491  黑龙江   2020/6/6     0     0     0    13   932   945
5492  黑龙江   2020/6/7     0     0     0    13   932   945
5493  黑龙江   2020/6/8     0     0     0    13   932   945
5494  黑龙江   2020/6/9     0     0     0    13   932   945

[5495 rows x 8 columns]

In [23]:
final_data.columns = ['省份', '日期', '新增死亡人数', '新增治愈人数', '新增确诊人数', '累积死亡人数', '累积治愈人数', '累积确诊人数']

In [25]:
final_data.to_csv("./task1_2.csv", encoding='gbk', index=False)

In [34]:
hubei_data = final_data[final_data['省份']=='湖北']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_hubei_data = pd.DataFrame()
for d in dates:
    last_hubei_data = last_hubei_data.append(hubei_data[hubei_data['日期']==d], ignore_index = True)
last_hubei_data

   省份         日期  新增死亡人数  新增治愈人数  新增确诊人数  累积死亡人数  累积治愈人数  累积确诊人数
0  湖北  2020/1/15       1       5       0       2      12      41
1  湖北  2020/2/15     139     849    1839    1596    5860   56197
2  湖北  2020/3/15      14     816       4    3099   55247   67798
3  湖北  2020/4/15       0      33       0    3222   63477   67803
4  湖北  2020/5/15       0       0       0    4512   63616   68134
5  湖北  2020/6/15       0       0       0    4512   63623   68135

In [35]:
gunagdong_data = final_data[final_data['省份']=='广东']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_gunagdong_data = pd.DataFrame()
for d in dates:
    last_gunagdong_data = last_gunagdong_data.append(gunagdong_data[gunagdong_data['日期']==d], ignore_index = True)
last_gunagdong_data

   省份         日期  新增死亡人数  新增治愈人数  新增确诊人数  累积死亡人数  累积治愈人数  累积确诊人数
0  广东  2020/2/15       0      50      22       2     434    1316
1  广东  2020/3/15       0       5       4       8    1292    1361
2  广东  2020/4/15       0       0       5       8    1392    1571
3  广东  2020/5/15       0       0       0       8    1392    1589
4  广东  2020/6/15       0       0       3       8    1394    1628

In [36]:
hebei_data = final_data[final_data['省份']=='河北']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_hebei_data = pd.DataFrame()
for d in dates:
    last_hebei_data = last_hebei_data.append(hebei_data[hebei_data['日期']==d], ignore_index = True)
last_hebei_data

   省份         日期  新增死亡人数  新增治愈人数  新增确诊人数  累积死亡人数  累积治愈人数  累积确诊人数
0  河北  2020/2/15       0      14       9       3     100     300
1  河北  2020/3/15       0       0       0       6     310     318
2  河北  2020/4/15       0       1       1       6     314     328
3  河北  2020/5/15       0       0       0       6     319     328
4  河北  2020/6/15       0       0       4       6     320     332

In [40]:
last_hubei_data

   省份         日期  新增死亡人数  新增治愈人数  新增确诊人数  累积死亡人数  累积治愈人数  累积确诊人数
0  湖北  2020/1/15       1       5       0       2      12      41
1  湖北  2020/2/15     139     849    1839    1596    5860   56197
2  湖北  2020/3/15      14     816       4    3099   55247   67798
3  湖北  2020/4/15       0      33       0    3222   63477   67803
4  湖北  2020/5/15       0       0       0    4512   63616   68134
5  湖北  2020/6/15       0       0       0    4512   63623   68135

In [41]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.commons.utils import JsCode
from pyecharts.globals import ThemeType

list1 = [
    {"value": 0},
    {"value": 1839},
    {"value": 4},
    {"value": 0},
    {"value": 0},
    {"value": 0},
]

list2 = [
    {"value": 5},
    {"value": 849},
    {"value": 816},
    {"value": 33},
    {"value": 0},
    {"value": 0},
]

list3 = [
    {"value": 1},
    {"value": 139},
    {"value": 14},
    {"value": 0},
    {"value": 0},
    {"value": 0},
]

list4 = [
    {"value": 41},
    {"value": 56197},
    {"value": 67798},
    {"value": 67803},
    {"value": 68134},
    {"value": 68135},
]

list5 = [
    {"value": 12},
    {"value": 5860},
    {"value": 55247},
    {"value": 63477},
    {"value": 63616},
    {"value": 63623},
]

list6 = [
    {"value": 2},
    {"value": 1596},
    {"value": 3099},
    {"value": 3222},
    {"value": 4512},
    {"value": 4512},
]


c = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(['01-15', '02-15', '03-15', '04-15', '05-15', '06-15'])
    .add_yaxis("新增确诊人数", list1, category_gap="40%")
    .add_yaxis("新增治愈人数", list2, category_gap="40%")
    .add_yaxis("新增死亡人数", list3, category_gap="40%")
    .add_yaxis("累积确诊人数", list4, category_gap="40%")
    .add_yaxis("累积治愈人数", list5, category_gap="40%")
    .add_yaxis("累积死亡人数", list6, category_gap="40%")
    .set_series_opts(show=False)
#     .set_global_opts(title_opts=opts.TitleOpts(title="湖北每月15号统计结果"))
    .render("task1.2_bar.html")
)