In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import warnings
import re
warnings.filterwarnings('ignore')

In [6]:
provinces_data = pd.read_csv("../results/result1/task1_2.csv", encoding='gbk')
provinces_data.head()

   省份         日期  新增确诊人数  新增治愈人数  新增死亡人数  累积确诊人数  累积治愈人数  累积死亡人数
0  上海  2020/1/20       1       0       0       1       0       0
1  上海  2020/1/21       0       0       0       1       0       0
2  上海  2020/1/22       0       0       0       1       0       0
3  上海  2020/1/23       0       0       0       1       0       0
4  上海  2020/1/24       0       1       0       1       1       0

In [7]:
tmp = provinces_data[['省份', '日期', '新增确诊人数']]
tmp.head()

   省份         日期  新增确诊人数
0  上海  2020/1/20       1
1  上海  2020/1/21       0
2  上海  2020/1/22       0
3  上海  2020/1/23       0
4  上海  2020/1/24       0

In [9]:
tmp['新增确诊人数'] = provinces_data['累积确诊人数'].values - provinces_data['累积治愈人数'].values - provinces_data['累积死亡人数'].values
tmp.head()

   省份         日期  新增确诊人数
0  上海  2020/1/20       1
1  上海  2020/1/21       1
2  上海  2020/1/22       1
3  上海  2020/1/23       1
4  上海  2020/1/24       0

In [10]:
final_data = tmp
final_data.columns = ['省份', '日期', '住院人数']
final_data.to_csv("./task1_3.csv", encoding='gbk', index=False)

In [8]:
hubei_data = final_data[final_data['省份']=='湖北']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_hubei_data = pd.DataFrame()
for d in dates:
    last_hubei_data = last_hubei_data.append(hubei_data[hubei_data['日期']==d], ignore_index = True)
last_hubei_data

   省份         日期   住院人数
0  湖北  2020/1/15     27
1  湖北  2020/2/15  48741
2  湖北  2020/3/15   9452
3  湖北  2020/4/15   1104
4  湖北  2020/5/15      6
5  湖北  2020/6/15      0

In [9]:
guangdong_data = final_data[final_data['省份']=='广东']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_guangdong_data = pd.DataFrame()
for d in dates:
    last_guangdong_data = last_guangdong_data.append(guangdong_data[guangdong_data['日期']==d], ignore_index = True)
last_guangdong_data

   省份         日期  住院人数
0  广东  2020/2/15   880
1  广东  2020/3/15    61
2  广东  2020/4/15   171
3  广东  2020/5/15   189
4  广东  2020/6/15   226

In [10]:
shanghai_data = final_data[final_data['省份']=='上海']
dates = []
for i in range(1, 7):
    dates.append('2020/'+ str(i) +'/15')
# print(dates)
last_shanghai_data = pd.DataFrame()
for d in dates:
    last_shanghai_data = last_shanghai_data.append(shanghai_data[shanghai_data['日期']==d], ignore_index = True)
last_shanghai_data

   省份         日期  住院人数
0  上海  2020/2/15   204
1  上海  2020/3/15    31
2  上海  2020/4/15   149
3  上海  2020/5/15    33
4  上海  2020/6/15    36

In [13]:
last_shanghai_data

   省份         日期  住院人数
0  上海  2020/2/15   204
1  上海  2020/3/15    31
2  上海  2020/4/15   149
3  上海  2020/5/15    33
4  上海  2020/6/15    36

In [14]:
from pyecharts import options as opts
from pyecharts.charts import Bar
from pyecharts.commons.utils import JsCode
from pyecharts.globals import ThemeType

list1 = [
    {"value": 27},
    {"value": 48741},
    {"value": 9452},
    {"value": 1104},
    {"value": 6},
    {"value": 0},
]

list2 = [
    {"value": 0},
    {"value": 880},
    {"value": 61},
    {"value": 171},
    {"value": 189},
    {"value": 226},
]

list3 = [
    {"value": 0},
    {"value": 204},
    {"value": 31},
    {"value": 149},
    {"value": 33},
    {"value": 36},
]


c = (
    Bar(init_opts=opts.InitOpts(theme=ThemeType.LIGHT))
    .add_xaxis(['01-15', '02-15', '03-15', '04-15', '05-15', '06-15'])
    .add_yaxis("湖北", list1, category_gap="50%")
    .add_yaxis("广东", list2, category_gap="50%")
    .add_yaxis("上海", list3, category_gap="50%")
    .set_series_opts(show=False)
#     .set_global_opts(title_opts=opts.TitleOpts(title="武汉每月15号统计结果"))
    .render("task1.3_bar.html")
)